*{
    box-sizing: content-box;
}

.calculator-container {
    display: flex;
    flex-flow: nowrap column;
    border: 3px solid black;
    margin: auto;
    height: 502px;
    width: 388px;
    gap: 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(255, 255, 199);
}

.display-section {
    display: flex;
    flex-flow: nowrap column;
    flex-grow: 5;
    flex-basis: 0;
    min-height: 120px;
    border: 3px solid rgb(64, 64, 64);
    background-color: black;
    border-radius: 10px;
    font-family: 'VT323', 'Courier New', monospace;
    color: lime;
}

.previous-display {
    margin-top: 14px;
    flex-grow: 2;
    font-size: 22px;
    font-weight:bold;
}

.current-display {
    margin-bottom: 12px;
    flex-grow: 3;
    font-size: 38px;
    
}

.previous-display,
.current-display {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0px 20px;
}

.undo-section {
    flex-grow: 2;
    min-height: 60px;
    flex-basis: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.reset-btn, .undo-btn {
    min-width: 165px;
    flex-basis: 0;
    border: 3px solid rgb(153, 153, 127);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.reset-btn {
    background-color: red;
}

.undo-btn {
    background-color: orangered;
}



.input-section {
    flex-grow: 12;
}

.input-section {
    border: 5px solid red;
}